 body{
    background-color: azure;
    color: #333;
    font-family: sans-serif, Helvetica; 
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;

}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;

}

#main-header{
    float: left;
    background-color:rgb(56, 139, 56);
    color:rgb(211, 245, 179);
}

#navbar{
    background-color: #333;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: rgb(101, 161, 136);
    text-decoration: underline;
    padding-right: 15px;
}

#showcase{
    background-image: url('banner.jpg');
    background-position: center right;
    min-height: 150px;
    text-align: center;
    margin-bottom: 30px;
}

.links{
    margin-left: 10px;
}

#showcase h1{
    color:rgb(224, 243, 224);
    font-size: 30px;
    line-height: 1.6em;
    margin-top: 30px;
    font-style: italic;
}

.element-box{
    background-color: #333;
    color: rgb(101, 161, 136);
    margin-left: 20px;
    padding: 5px;
    border-left: rgb(11, 138, 0) solid;
}
.element-box p{
    font-style: italic;
}

#main{
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding: 0 30px;
}

#sidebar{
    border-left: green solid;
    float: right;
    width: 30%;
    box-sizing: border-box;
    padding:10px 10px;
}

.login-form .form-group{
    padding-bottom: 15px;
    margin-left: 10px;
}

.login-form label{
    display: block;
}

.login-form input[type="text"]{
    padding: 8px;
    width: 80%;
}

.login-form input[type="submit"]{
    margin-left: 10px;
    background-color: #333;
    color: rgb(101, 161, 136);
    padding: 10px 15px;
    border: none;
}

#main-footer{
    background-color: #333;
    color: rgb(101, 161, 136);
    text-align: center;
    padding: 10px;
    margin-top: 200px;
}

