 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Big Buddy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap_css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>
   
    <body>
        <header id="main-header">
            <div class="container">
                <h1>Big Buddy Website</h1>
            </div>
        </header>

        <nav id="navbar">
            <div class="container">
                <ul>
                    <li><a href="http://localhost:5000/home">Home</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Be-a-Buddy</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </nav>

        <section id="showcase">
            <div class="container">
                <h1>If You feel like helping someone with answering questions,
                    or just want to read between all kinds of topics:
                    You are at the right place!
                </h1>
            </div>
        </section>

        <div class="container">
            <section id="main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                <h1>Most recent topics and questions</h1>
                <div class="element-box">
                    {% block content %}
                        <h2>{{ latestForum.title }}</h2>
                        <p>{{ latestForum.content }}</p>

                </div>
                <br>  
                <div class="element-box">                      
                    
                        <h2>{{ latestQuestion.title }}</h2>
                        <p>{{ latestQuestion.content }}</p>
                    {% endblock content%}
                    </div>             
            </section>

            <aside id="sidebar">
                <h2>Log-in or create an account</h2>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{form.email.label(class="form-control-label")}}
                            {{form.email(class="form-control form-control-lg")}}
                        </div>
                        <div class="form-group">
                            {{form.password.label(class="form-control-label")}}
                            {{form.password(class="form-control form-control-lg")}}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info")}}
                        </div>
                    <br>
                    <div class="links">
                        <a href="http://localhost:5000/register">Create Account</a>
                    </div>
                </form>

            </aside>
        </div>


        <footer id="main-footer">
            <p>Copyright &copy; Big Buddy 2019</p>
        </footer>
    </body>
    </html>
    